@import 'tailwindcss';

@config '../tailwind.config.ts';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

/* Layer base contains light mode selectors */
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  body {
    color: rgb(var(--foreground-rgb));
    background-image: url('/img/sky1.jpg');
    background-size: cover;
  }

  .posts-container-post-title,
  .linkName,
  label,
  h1 {
    color: #2a3f79;
    text-shadow: 1px 1px 1px #a3c2d1,
      2px 2px 1px #aeeaf5,
      3px 3px 2px #ffca7a
  }

  .navLinks,
  .sideNav {
    background-image: linear-gradient(to bottom right,
        rgba(247, 225, 165, 0),
        rgb(255, 255, 255),
        rgb(228, 242, 247));
  }

  .postForm {
    margin: 3em auto;
  }

  .posts-container-post {
    width: 160px;
    height: 225px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right,
        rgb(255, 237, 225),
        rgb(255, 255, 255),
        rgb(228, 242, 247));
  }

  .post,
  .posts-container-post {
    box-shadow: 0 3px 2px 0 rgba(255, 142, 98, 0.12);
  }

  button :disabled,
  button[disabled],
  button :disabled :hover,
  button[disabled] :hover {
    color: rgb(102, 102, 102);
    background-color: rgba(170, 170, 170, 0.12);
    border-color: #979797;
    pointer-events: none;
  }

  .fileInput {
    color: #2a3f79;
  }
}

/* Custom darkmode selectors */
@utility body-dark {
  background-image: url('/img/sky-dark.jpg');
}

@utility posts-container-post-darkmode {
  width: 160px;
  height: 225px;
  border-radius: 5px;
  background-color: #1d1d1d;
  background-image: none;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 1);
}

@utility post-darkmode {
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 1);
}

@utility posts-container-post-title-darkmode {
  color: #f8ddd6;
  text-shadow:
    1px 1px 1px #11587c,
    2px 2px 1px #14515c,
    3px 3px 2px #441815;
}

@utility linkName-darkmode {
  color: #f8ddd6;
  text-shadow:
    1px 1px 1px #11587c,
    2px 2px 1px #14515c,
    3px 3px 2px #441815;
}

@utility label-darkmode {
  color: #f8ddd6;
  text-shadow:
    1px 1px 1px #11587c,
    2px 2px 1px #14515c,
    3px 3px 2px #441815;
}

@utility h1-darkmode {
  color: #f8ddd6;
  text-shadow:
    1px 1px 1px #11587c,
    2px 2px 1px #14515c,
    3px 3px 2px #441815;
}

@utility postForm-darkmode {
  background-image: linear-gradient(to bottom right,
      rgba(24, 24, 24, 0.9),
      rgba(41, 41, 48, 0.3),
      rgba(24, 24, 24, 0.9),
      rgba(41, 41, 48, 0.3),
      rgba(24, 24, 24, 0.9),
      rgba(41, 41, 48, 0.3),
      rgba(24, 24, 24, 0.9),
      rgba(41, 41, 48, 0.3));
}

@utility navLinks-darkmode {
  background-image: linear-gradient(to bottom right,
      rgba(31, 30, 34, 0.2),
      rgba(26, 26, 31, 0.4),
      rgba(8, 15, 17, 0.5));
}

@utility sideNav-darkmode {
  background-image: linear-gradient(to bottom right,
      rgba(31, 30, 34, 0.2),
      rgba(26, 26, 31, 0.4),
      rgba(8, 15, 17, 0.5));
}

@utility text-balance {
  text-wrap: balance;
}

@utility fileInput-darkmode {
  color: #f8ddd6;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 11;
  }
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.posts-container-text {
  padding: 6px;
  min-height: 152px;
  font-size: small;
}

.posts-container-post-title {
  min-height: 55px;
  max-width: 140px;
  word-break: keep-all;
  line-height: 1.1em;
  font-size: 1.8em;
  margin-bottom: 0.2em;
}

.posts-container-post-image {
  max-height: 73px;
  overflow: hidden;
}

option {
  border-radius: 10px;
}

@keyframes loadingAnimWave {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}